*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: url(images/finalbg.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 90%;
    max-width: 440px;
    color: #A1045A;
    text-align: center;
    padding: 50px 35px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

.card img{
    width: 150px;
    border-radius: 50%;
}

.card h2{
    font-size: 25px;
    font-weight: 600;
    margin-top: 8%;
}

.card p{
    font-size: 15px;
    max-width: 10px auto;
    margin-top: 5%;
}

.card .link img{
    width: 55px;
    border-radius: 50%;
    margin: 20px 12px;
    transition: background 0.5s;
}

.card .link img:hover{
    background: #A1045A;
}


.btn{
    text-decoration: none;
    display: inline-block;
    background: #fff;
    color: #A1045A;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 500;
    margin: 10px 15px;
}